

// How does SASS not support this already?  Newtons Method borrowed from http://www.antimath.info/css/sass-sqrt-function/ and Newton.
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}



$board_width: 80; // VH..
$square_width: $board_width / 8.0; // 8 squares.
$internal_square_width: sqrt($square_width*$square_width / 2.0); // If you turn it sideways, apply a^2 + b^2 = c^2
$internal_square_margin_top: ($square_width - $internal_square_width) / 2.0; // Adjust square
$piece_size: $internal_square_width * 0.80;
$piece_padding: ($internal_square_width - $piece_size) / 2.0;

html, body {
  background-color: #000;
}

#game {
  margin: 0 auto;
  width: #{$board_width}vmin;
}

#board {
  width: calc(#{$board_width}vmin);  
  height: calc(#{$board_width}vmin);  
  font-size: 0 !important;
  background: #eaeaea; // url('./img/marble.jpg') top left no-repeat;
  border: 10px solid rgb(32,67,57);
  box-sizing: content-box;
  margin-top: 1vh;
}

.square {
  width: #{$square_width}vmin;
  height: #{$square_width}vmin;
  display: inline-block;
}

.highlight .internal-square {
  background-color: yellow !important;
}

.highlight-legal-move .internal-square {
  background-color: purple !important;
}


.court-square {
  background-color: rgb(32,67,57) !important;
}

.internal-square {
  //display: none !important;
  margin: 0 auto;
  width: #{$internal_square_width}vmin; 
  height: #{$internal_square_width}vmin;
  transform: rotate(45deg);
  background-color: rgb(207,185, 134);
  border: 1px solid orange;
  position: relative;
  margin-top: #{$internal_square_margin_top}vmin; 
  font-size: 11px;
  
}

.rank:last-child {
  .square:last-child {
    clear: right;
  };
};

.piece {
  position: absolute;
  top: #{$piece_padding}vmin;
  left: #{$piece_padding}vmin;
  height: #{$piece_size}vmin;
  width: #{$piece_size}vmin;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}


.red-piece {
  .piece {
    background-color: rgb(123,62,32);
  }
};


.green-piece {
  .piece {
    background-color: rgb(43,59,53);
  }
};


#current-move {
  color: #fff;
  padding: 15px;
}

#error-messages {
  color: red;
}
