!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kcc
    %link{:href => "./css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "./css/game.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Comfortaa|Baloo+Bhaina", :rel => "stylesheet"}/
    %script{:src => "./js/jquery-3.2.1.slim.min.js"}
    %script{:src => "./js/bootstrap.min.js"}
    %script{:src => "./js/controller.js"}
    %script{:src => "./js/model.js"}
    %script{:src => "./js/view.js"}
    %script{:src => "./js/move_generator.js"}
  %body<
    #game<
      #header
        %h4 SuperCheckers

        #new-game-menu
          %h6#winner
          %label I'll Play
          %select.form-control.form-control-sm#human-color
            %option{:value => "1"} Red
            %option{:value => "2"} Green
          %label Difficulty
          %select.form-control.form-control-sm#computer-level
            %option{:value => "1"} Beginner
            %option{:selected => "selected", :value => "3"} Normal
            %option{:value => "4"} Difficult
            %option{:value => "5"} Extreme
          %input#new-game.btn.btn-primary.btn-sm{:type => "button", :value => "Play"}

        #in-game-menu<    
          %ul#error-messages
          %input#undo-button.btn.btn-primary.btn-sm{:type => "button", :value => "Undo"}
          %input#commit-move-button.btn.btn-primary.btn-sm{:type => "button", :value => "Make Play"}
          #current-move
          #current-turn




      #board<
        #board-modal<
      #instructions
        %ul
          %li If you do not have a piece in the center at the end of a turn, you loose.
          %li You can jump your own pieces
          %li No jumping on your first move
          