html, body {
  background-color: #000; }

#game {
  padding-top: 1vmin;
  width: 85vmin;
  height: 100vmin;
  display: block;
  margin: 0 auto;
  clear: both; }
  #game > * {
    box-sizing: content-box;
    border: 0.75vmin solid #204339; }

#sidebar {
  background-color: #204339;
  width: 85vmin;
  color: #043325; }
  #sidebar label {
    padding-right: 15px;
    color: #fff; }
  #sidebar .form-group {
    margin-left: 15px; }

#new-game-menu, #in-game-menu {
  display: none; }

#board-modal {
  position: absolute;
  z-index: 5;
  width: 85vmin;
  height: 85vmin;
  background-color: rgba(0, 0, 0, 0.5);
  display: block; }

#board {
  position: relative;
  width: 85vmin;
  height: 85vmin;
  display: inline-block; }

.square {
  width: 10.625vmin;
  height: 10.625vmin;
  display: inline-block;
  float: left; }

.highlight-last-move .internal-square {
  background-color: rgba(241, 192, 245, 0.5) !important;
  border-color: #f1c0f5 !important; }

.highlight .internal-square {
  background-color: rgba(220, 241, 85, 0.5) !important;
  border-color: #dcf155 !important; }

.court-square {
  background-color: #204339 !important; }

.internal-square {
  margin: 0 auto;
  width: 7.5130095501vmin;
  height: 7.5130095501vmin;
  transform: rotate(45deg);
  background-color: #cfb986;
  border: 0.15vmin solid orange;
  position: relative;
  margin-top: 1.5559952249vmin;
  font-size: 1.5vmin; }

.rank:last-child .square:last-child {
  clear: right; }

.piece {
  position: absolute;
  top: 0.751300955vmin;
  left: 0.751300955vmin;
  height: 6.0104076401vmin;
  width: 6.0104076401vmin;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block; }

.red-piece .piece {
  background-color: #7b3e20; }

.green-piece .piece {
  background-color: #2b3b35; }

#current-turn {
  display: none; }

#current-turn.red {
  color: red; }

#current-turn.green {
  color: green; }

#current-move {
  color: #fff;
  display: inline-block; }

#error-messages {
  display: none;
  font-weight: bold;
  color: #00110c; }
