html, body {
  background: #000; }

#game {
  height: 74vmin;
  width: 100vmin;
  display: block;
  margin: 3.75% auto;
  clear: both; }

#board-modal {
  position: absolute;
  z-index: 5;
  top: -1vmin;
  left: -1vmin;
  width: 74vmin;
  height: 74vmin;
  background-color: rgba(0, 0, 0, 0.5); }

#board {
  position: relative;
  width: 74vmin;
  height: 74vmin;
  border: 1vmin solid #404040;
  padding: 0.5vmin;
  border-radius: 25px;
  display: inline-block; }

#sidebar {
  vertical-align: top;
  display: inline-block;
  width: 23vmin;
  padding: 1vmin 1vmin 1vmin 2vmin;
  height: 74vmin;
  color: #fff; }
  #sidebar button {
    width: 100% !important; }
  #sidebar h4 {
    font-family: 'Baloo Bhaina'; }

#new-game-menu, #in-game-menu {
  display: none; }

#instructions {
  font-family: 'Comfortaa', cursive;
  font-size: 1.0rem;
  list-style-type: none;
  padding-left: 0;
  margin-top: 3vmin;
  text-align: justify; }
  #instructions li {
    margin-bottom: 3vmin; }

#current-turn {
  display: none; }

#current-turn.red {
  color: red; }

#current-turn.green {
  color: green; }

#current-move {
  color: #fff;
  display: none; }

#error-messages {
  display: none;
  font-weight: bold;
  color: #00110c; }

.center-top-left {
  border-radius: 2.5vmin 0 0 0; }

.center-top-right {
  border-radius: 0 2.5vmin 0 0; }

.center-bottom-left {
  border-radius: 0 0 2.5vmin 0; }

.center-bottom-right {
  border-radius: 0 0 0 2.5vmin; }

.square {
  width: 12.5%;
  height: 12.5%;
  display: inline-block;
  float: left; }

.internal-square {
  margin: 0 auto;
  width: 70%;
  height: 70%;
  transform: rotate(45deg);
  background: radial-gradient(#000 0%, #45484d 95%, #000, 100%);
  border: 0.15vmin solid #404040;
  position: relative;
  margin-top: 15%;
  font-size: 1.5vmin; }

.piece {
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  height: 85%;
  width: 85%;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block; }

.highlight-last-move .internal-square {
  border-color: purple !important; }

.highlight .internal-square {
  border-color: yellow !important; }

.court-square {
  background-color: #0f0f0f !important; }
  .court-square .internal-square {
    background-color: #000; }

.rank:last-child .square:last-child {
  clear: right; }

.red-piece .piece {
  background-color: #7b3e20; }

.green-piece .piece {
  background-color: #2b3b35; }
