$board_width_vmin: 90;

html, body {
  background: #000;  
}


#game {
  height: #{$board_width_vmin}vmin;  
  width: 100vmin;
  display: block;
  margin: 3.75% auto;
  clear: both;
}

#board-modal {
  position: absolute;
  z-index: 5;
  top: -1vmin;
  left: -1vmin;
  width: #{$board_width_vmin}vmin;
  height: #{$board_width_vmin}vmin;
  background-color: rgba(0,0,0,0.5);
}

#board {
  position: relative;
  width: #{$board_width_vmin}vmin;  
  height: #{$board_width_vmin}vmin;  
  border: 1vmin solid #404040;
  padding: 0.5vmin;
  border-radius: 25px;
  display: inline-block;
}

#sidebar {
  display: none;
  button {
    width: 100% !important;
  }
  vertical-align: top;
  display: inline-block;
  width: 23vmin;
  padding: 1vmin 1vmin 1vmin 2vmin;
  height: #{$board_width_vmin}vmin;  
  color: #fff;
}

h4 {
  font-family: 'Baloo Bhaina';
  color: #fff;
  float: left;
  vertical-align: bottom;
}


#header {
  width: #{$board_width_vmin}vmin;
  color: #fff;
}

#new-game-menu, #in-game-menu {
  float: right;
  width: 70%;
  text-align: right;
  display: none;
  select {
    display: inline-block;
    width: 20%;
  }
}



#instructions {
  font-family: 'Comfortaa', cursive;
  font-size: 1.0rem;
  list-style-type: none;
  padding-left: 0;
  margin-top: 3vmin;
  text-align: justify   ;
  li {
    color: #fff;
    margin-bottom: 3vmin;
  }
}

#current-turn {
  display: none;
}

#current-turn.red {
  color: red;
}

#current-turn.green {
  color: green;
}

#current-move {
  color: #fff;
  display: none;
}

#error-messages {
  display: none;
  font-weight: bold;
  color: rgb(0,17,12);
}

#winner.red {
  color: red;
}

#winner.green {
  color: green;
}


.center-top-left {
  border-radius: 2.5vmin 0 0 0;
}

.center-top-right {
  border-radius: 0 2.5vmin 0 0 ;
}

.center-bottom-left {
  border-radius: 0 0 2.5vmin 0;  
}

.center-bottom-right {
  border-radius: 0 0 0 2.5vmin;  
}



.center-edge-left {
  border-left: 1px solid #404040;
}

.center-edge-top {
  border-top: 1px solid #404040;
}

.center-edge-right {
  border-right: 1px solid #404040;
}

.center-edge-bottom {
  border-bottom: 1px solid #404040;
}


.square {
  width: 12.5%;
  height: 12.5%;    
  display: inline-block;
  float: left;
}

.internal-square {
  //display: none !important;
  margin: 0 auto;
  width: 70%; 
  height: 70%;
  //border-radius: 5px;
  transform: rotate(45deg);
  background-color: #191c17;
  //background-color: rgb(207,185, 134);

  border: 0.15vmin solid #404040;
  position: relative;
  margin-top: 15%;
  font-size: 1.5vmin;
  
}

.piece {
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  height: 85%;
  width: 85%;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.highlight-last-move .internal-square {
  border-color: purple !important;
}

.highlight .internal-square {
  border-color: yellow !important;
}

.court-square {
  background-color: #191c17 !important;
  .internal-square {
    background-color: #000;
  }
}


.rank:last-child {
  .square:last-child {
    clear: right;
  };
};




.red-piece {
  .piece {
    background-color: rgb(123,62,32);
  }
};


.green-piece {
  .piece {
    background-color: rgb(43,59,53);
  }
};



