$board_width_vmin: 75;

html, body {
  background-color: #000;
  
}


#game {
  height: #{$board_width_vmin}vmin;  
  width: 100vmin;
  display: block;
  margin: 3.75% auto;
  clear: both;
}

#sidebar {
  vertical-align: top;
  display: inline-block;
  width: 23vmin;
  padding: 1vmin;
  height: #{$board_width_vmin}vmin;  
  color: #fff;
}

#board {
  position: relative;
  background: #fafafa;
  width: #{$board_width_vmin}vmin;  
  height: #{$board_width_vmin}vmin;  
  display: inline-block;
}

.square {
  width: 12.5%;
  height: 12.5%;
  display: inline-block;
  float: left;
}


.internal-square {
  //display: none !important;
  margin: 0 auto;
  width: 70%; 
  height: 70%;
  transform: rotate(45deg);
  background-color: rgb(207,185, 134);

  border: 0.15vmin solid orange;
  position: relative;
  margin-top: 15%;
  font-size: 1.5vmin;
  
}


.piece {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}


#new-game-menu, #in-game-menu {
  display: none;
}

#board-modal {
  position: absolute;
  z-index: 5;
  width: calc(#{$board_width_vmin}vmin);
  height: calc(#{$board_width_vmin}vmin);
  background-color: rgba(0,0,0,0.5);
  display: block;
}





.highlight-last-move .internal-square {
  background-color: rgba(241, 192, 245, 0.7) !important;
  border-color: purple !important;
}

.highlight .internal-square {
  background-color: rgba(220, 241, 85, 0.7) !important;
  border-color: yellow !important;
}

.court-square {
  background-color: rgb(32,67,57) !important;
}



.rank:last-child {
  .square:last-child {
    clear: right;
  };
};




.red-piece {
  .piece {
    background-color: rgb(123,62,32);
  }
};


.green-piece {
  .piece {
    background-color: rgb(43,59,53);
  }
};


#current-turn {
  display: none;
}

#current-turn.red {
  color: red;
}

#current-turn.green {
  color: green;
}

#current-move {
  color: #fff;
  display: none;
}

#error-messages {
  display: none;
  font-weight: bold;
  color: rgb(0,17,12);
}
